@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);/* End section */

.spam-cont {
  height: 100px;
  background-color: #161b22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spam-cont input {
  background-color: transparent;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #8aca2b;
  color: white;
  padding: 0 20px;
}

.spam-cont input:hover {
  background-color: #8aca2b;
  color: #161b22;
}

.navigation-bar {
  background-color: #161b22;
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar ul {
  font-size: 15px;
  font-weight: 600;
}

.navigation-bar ul li {
  padding: 20px;
  margin: 0 20px;
  border-bottom: 4px solid transparent;
  display: flex;
}

.navigation-bar ul li:hover {
  border-bottom: 4px solid #8aca2b;
}

.navigation-bar ul li:hover a {
  color: #8aca2b;
}

.navigation-bar ul li a {
  text-decoration: none;
  color: white;
}

.navigation-bar ul .active {
  border-bottom: 4px solid #8aca2b;
}

.navigation-bar ul .active a {
  color: #8aca2b;
}

.comic-card {
  width: 180px;
  margin: 0px 35px 50px 35px;
}

.comic-card .card-img {
  height: 180px;
  width: 100%;
}

.comic-card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.comic-card .title {
  color: white;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.alert {
  background-color: #161b22;
  border: 2px solid #8aca2b;
  margin: 30px 0;
}

.alert h3 {
  padding-top: 10px;
  text-align: center;
}

.alert strong {
  color: #8aca2b;
}

.alert ul {
  margin: 20px 20px 20px 10px;
  display: block;
  font-size: 18px;
  line-height: 30px;
}

.comic-cont {
  margin: 130px auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.info-container {
  margin: 130px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-container .details {
  color: white;
}

.info-container .details h1 {
  color: #8aca2b;
  margin-bottom: 30px;
}

.info-container .details div {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  max-width: 700px;
}

.info-container .details div strong {
  color: #8aca2b;
  margin-right: 10px;
}

.info-container .jumbo-thumb {
  width: 300px;
  border: 4px solid #8aca2b;
}

.info-container .jumbo-thumb img {
  width: 100%;
  border: 2px solid #010409;
}

.info-container .btn-area {
  display: flex;
}

.info-container .btn-area button {
  background-color: transparent;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid white;
  color: #8aca2b;
  padding: 0 30px;
}

.info-container .btn-area button:hover {
  background-color: #161b22;
  color: white;
}

.info-container .btn-area .del {
  margin-left: 20px;
  color: crimson;
  border-color: #8b0c0c;
}

.info-container .btn-area .del:hover {
  color: #8b0c0c;
  background-color: transparent;
}

.form-container {
  margin: 75px 0 150px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h1 {
  color: #8aca2b;
  margin-bottom: 20px;
}

.form-container form {
  line-height: 22px;
}

.form-container form div label {
  display: block;
}

.form-container form div label strong {
  color: #8aca2b;
}

.form-container form div input,
.form-container form div textarea {
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #161b22;
  outline: none;
  border: 2px solid #8aca2b;
  padding: 10px 10px;
  color: white;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container form div input {
  width: 400px;
  height: 22px;
}

.form-container form div textarea:focus,
.form-container form div input:focus {
  color: white;
}

.form-container form div .is-invalid {
  border-color: crimson;
}

.form-container form .btns button {
  background-color: transparent;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #8aca2b;
  color: white;
  padding: 0 30px;
}

.form-container form .btns button:hover {
  background-color: #8aca2b;
  color: #161b22;
}

.form-container form .btns .back {
  margin-left: 20px;
  color: #8aca2b;
  border-color: white;
}

.form-container form .btns .back:hover {
  background-color: crimson;
  color: white;
}

.white {
  color: white;
}

.page-container {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.page-container .text {
  line-height: 60px;
}

.page-container .text .phrase-1 {
  color: white;
  -webkit-animation: fade-in 5s infinite;
          animation: fade-in 5s infinite;
}

.page-container .text .phrase-2 {
  color: #8aca2b;
  opacity: 0;
  margin-left: -56px;
  -webkit-animation: fade-in 5s infinite;
          animation: fade-in 5s infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010409;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

li,
input,
.btn-main-s {
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
}

