@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);/* End section */

.spam-cont {
  height: 100px;
  background-color: #161b22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spam-cont input {
  background-color: transparent;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #8aca2b;
  color: white;
  padding: 0 20px;
}

.spam-cont input:hover {
  background-color: #8aca2b;
  color: #161b22;
}

.navigation-bar {
  background-color: #161b22;
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar ul {
  font-size: 15px;
  font-weight: 600;
}

.navigation-bar ul li {
  padding: 20px;
  margin: 0 20px;
  border-bottom: 4px solid transparent;
  display: flex;
}

.navigation-bar ul li:hover {
  border-bottom: 4px solid #8aca2b;
}

.navigation-bar ul li:hover a {
  color: #8aca2b;
}

.navigation-bar ul li a {
  text-decoration: none;
  color: white;
}

.navigation-bar ul .active {
  border-bottom: 4px solid #8aca2b;
}

.navigation-bar ul .active a {
  color: #8aca2b;
}

.comic-card {
  width: 180px;
  margin: 50px 15px;
}

.comic-card .card-img {
  height: 180px;
  width: 100%;
}

.comic-card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.comic-card .title {
  color: #8aca2b;
  margin-top: 20px;
  text-transform: uppercase;
}

.comic-cont {
  margin: 100px auto;
  width: 1250px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-container {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.page-container .text {
  line-height: 60px;
}

.page-container .text .phrase-1 {
  color: white;
  -webkit-animation: fade-in 5s infinite;
          animation: fade-in 5s infinite;
}

.page-container .text .phrase-2 {
  color: #8aca2b;
  opacity: 0;
  margin-left: -56px;
  -webkit-animation: fade-in 5s infinite;
          animation: fade-in 5s infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010409;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

li,
input,
.btn-main-s {
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
}

