.form-container {
    margin: 75px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: rgb(138, 202, 43);
        margin-bottom: 20px;
    }

    form {
        line-height: 22px;
        div {
            label {
                display: block;

                strong {
                    color: rgb(138, 202, 43);
                }
            }

            input,
            textarea {
                margin-bottom: 15px;
                border-radius: 5px;
                background-color: #161b22;
                outline: none;
                border: 2px solid rgb(138, 202, 43);
                padding: 10px 10px;
                color: white;
            }

            input {
                width: 400px;
                height: 22px;
            }

            textarea:focus,
            input:focus {
                color: white;
            }
        }

        .btns {
            button {
                background-color: transparent;
                height: 30px;
                font-size: 16px;
                font-weight: 600;
                border: 2px solid rgb(138, 202, 43);
                color: white;
                padding: 0 30px;

                &:hover {
                    background-color: rgb(138, 202, 43);
                    color: #161b22;
                }
            }

            .back {
                margin-left: 20px;
                color: rgb(138, 202, 43);
                border-color: white;

                &:hover {
                    background-color: crimson;
                    color: white;
                }
            }
        }
    }
}
