.info-container {
    margin: 130px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .details {
        color: white;

        h1 {
            color: rgb(138, 202, 43);
            margin-bottom: 30px;
        }

        div {
            font-size: 20px;
            margin-bottom: 30px;
            line-height: 30px;
            max-width: 700px;

            strong {
                color: rgb(138, 202, 43);
                margin-right: 10px;
            }
        }
    }

    .jumbo-thumb {
        width: 300px;
        border: 4px solid rgb(138, 202, 43);

        img {
            width: 100%;
            border: 2px solid #010409;
        }
    }

    .btn-area {
        display: flex;

        button {
            background-color: transparent;
            height: 30px;
            font-size: 16px;
            font-weight: 600;
            border: 2px solid white;
            color: rgb(138, 202, 43);
            padding: 0 30px;

            &:hover {
                background-color: #161b22;
                color: white;
            }
        }

        .del {
            margin-left: 20px;
            color: crimson;
            border-color: rgb(139, 12, 12);

            &:hover {
                color: rgb(139, 12, 12);
                background-color: transparent;
            }
        }
    }
}
